body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* styles.css */
/* styles.css */
.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center; /* Align text and inline elements to center */
}

#loginForm {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}
